* {
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
}
body, form, button, input {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #eceef1;
}

header {
  height: 8vh;
}
header section {
  height: 100%;
  width: 25%;
  float: right;
  margin: 0 30px;
}
main {
  height: 82vh;
}
footer {
  height: 10vh;
}

section {
  margin: 0 auto;
  width: 30%;
  height: 100%;
}
article {
  width: 100%;
  height: 100%;
  background-color: lightcyan;
}
form {
  width: 100%;
  height: 90%;
  background-color: white;
}
form * {
  width: 100%;
}
#signin {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* text-align: right; */

}

#signin div {
  font-size: 12px;
  line-height: 1.5;
}

#signin button {
  border: none;
  border: 1px solid #4c4c4c;
  background: #0077c5;
  border-radius: 4px;
  padding: 8px 20px;
  color: #ffffff;
  margin-left: 12px;
}

h3 {
  font-size: 24px;
  color: #4c4c4c;
  font-weight: normal;
  text-align: center;
  margin: 30px 0;
}

article p {
  font-size: 14px;
  text-align: center;
}
